extends ../layout
block content
  include ../bar-admin.pug
  .content

    button#add-movie-button <i class="fas fa-folder-plus"></i> Crie uma nova série

    .modal-new-movie
      form(method="post", action="/admin/serie/create", enctype="multipart/form-data")
        .modal-content
          .modal-header
            h2 <i class="fas fa-video"></i> Crie uma nova série
            span.close-modal(x) &times;
          .modal-body
            .form-group 
              label(for="title") <i class="fas fa-hashtag"></i> Título
              input#title.form-control(type="text", placeholder="Título da série", required, name="title")
            .form-group
              label(for="description") <i class="fas fa-align-justify"></i> Descrição
              textarea#description.form-control(placeholder="Descrição da série", required, name="description")
            .form-group
              label(for="cast") <i class="fas fa-users-rectangle"></i> Elenco
              input#cast.form-control(type="text", placeholder="Elenco da série", required, name="cast")
            .form-group
              label(for="disponible") <i class="fas fa-play"></i> Disponível para assistir?
              select#disponible.form-control(name="visible")
                option(value="true") Sim
                option(value="false") Não
            .form-group#image-group
              label.text-file-preview(for="image") <i class="fas fa-images"></i> Clique para selecionar uma imagem
              input#image.form-control(type="file", accept="image/*", name="cover", required)
            .image-preview
              img#image-preview(src="", alt="Imagem de pré-visualização")
              span#image-change <i class="fas fa-edit"></i> Selecionar outra imagem
            .form-group
              label(for="background") <i class="fas fa-images"></i> Imagem de fundo
              input#background.form-control(type="file", accept="image/*", name="background", required)            
            .background-preview
              img#background-preview(src="", alt="Imagem de pré-visualização")
              span#background-change <i class="fas fa-edit"></i> Selecionar outra imagem
          .modal-footer
            button.btn-cancel(type="button") Cancelar
            button.btn-ok(type="submit") Ok
    

    .list-of-catalog
      each a in [0, 1, 2, 3, 4]
        .catalog-session
          .catalog-title 
            h1 # Catalog #{a + 1}
          .catalog-buttons
            button.catalog-button(data-direction="left")
              i.fas.fa-chevron-left
            button.catalog-button(data-direction="right")
              i.fas.fa-chevron-right
          .catalog-movies
            each serie in series
              .movie
                a(href="/admin/serie/" + serie.id , title=serie.title)
                  .alert-new-espisode New Episode
                  img(src=serie.cover, alt="Movie")

            each p in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
              .movie
                a(href="/admin/serie/" + a, title="Movie " + p)
                  .alert-new-espisode New Episode
                  img(src="/public/images/semioflix.png", alt="Movie")


  script. 
    document.querySelectorAll("[data-direction='left']").forEach(button => {
      button.addEventListener("click", () => {
        button.parentElement.parentElement.querySelector(".catalog-movies").scrollLeft -= 200;
        button.parentElement.parentElement.querySelector(".catalog-movies").scrollBehavior = "smooth";
      });  
    });
 
    document.querySelectorAll("[data-direction='right']").forEach(button => {
      button.addEventListener("click", () => {
        button.parentElement.parentElement.querySelector(".catalog-movies").scrollLeft += 200;
        button.parentElement.parentElement.querySelector(".catalog-movies").scrollBehavior = "smooth";
      });
    });

    document.querySelector("#add-movie-button").addEventListener("click", () => {
      document.querySelector(".modal-new-movie").style.display = "block";
    });

    document.querySelector(".close-modal").addEventListener("click", () => {
      document.querySelector(".modal-new-movie").style.display = "none";
    });

    window.addEventListener("click", (event) => {
      if (event.target == document.querySelector(".modal-new-movie")) {
        document.querySelector(".modal-new-movie").style.display = "none";
      }
    });

    document.querySelector(".btn-cancel").addEventListener("click", () => {
      document.querySelector(".modal-new-movie").style.display = "none";
    });

    document.querySelector(".modal-new-movie").addEventListener("keydown", (event) => {
      if (event.key == "Escape" || event.key == "Esc") {
        document.querySelector(".modal-new-movie").style.display = "none";
      }
    });


    document.querySelector("#image").addEventListener("change", () => {
      const file = document.querySelector("#image").files[0];
      const reader = new FileReader();

      reader.onloadend = () => {
        document.querySelector("#image-preview").src = reader.result;
        document.querySelector(".image-preview").style.display = "flex";
        document.querySelector("#image-group").style.display = "none";
      }

      if (file) {
        reader.readAsDataURL(file);
      } else {
        document.querySelector("#image-preview").src = "";
      }

      document.querySelector("#image-change").addEventListener("click", () => {
        document.querySelector("#image").value = "";
        document.querySelector("#image-preview").src = "";
        document.querySelector(".image-preview").style.display = "none";
        document.querySelector("#image-group").style.display = "block";
        document.querySelector("#image").click();
      });
    });

    document.querySelector("#background").addEventListener("change", () => {
      const file = document.querySelector("#background").files[0];
      const reader = new FileReader();

      reader.onloadend = () => {
        document.querySelector("#background-preview").src = reader.result;
        document.querySelector(".background-preview").style.display = "flex";
        document.querySelector("#background-group").style.display = "none";
      }

      if (file) {
        reader.readAsDataURL(file);
      } else {
        document.querySelector("#background-preview").src = "";
      }

      document.querySelector("#background-change").addEventListener("click", () => {
        document.querySelector("#background").value = "";
        document.querySelector("#background-preview").src = "";
        document.querySelector(".background-preview").style.display = "none";
        document.querySelector("#background-group").style.display = "block";
        document.querySelector("#background").click();
      });
    });