doctype html
html(lang="pt")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Semioflix | #{title}
    link(rel="shortcut icon", href="/public/images/semioflix.png", type="image/x-icon")
    link(rel="stylesheet", href="/public/css/all.css")
    link(rel="stylesheet", href="/public/css/404.css")
    link(rel="stylesheet", href="/fontawesome/css/all.css")
  body
    img(class="icon", src="/public/images/semioflix-transparent.png", alt="Semioflix icon")
    h1.title Ops... Você está tentando acessar uma página inexistente! 
    a(href="/", class="btn-link") Voltar para o início