link(rel="stylesheet", href="/public/css/bar.css")
script(src="/public/js/bar.js", async) 
.menu-bar 
  a(href="/", class="logo")
    img(class="icon", src="/public/images/semioflix-transparent.png", alt="Semioflix icon") 
  ul.menu-links 
    li.link
      a(href="/") 
        i.fas.fa-film
        |  Início
    li.link   
      a(href="/about") 
        i.fas.fa-info-circle
        |  Sobre 
    li.link
      a(href="/admin") 
        i.fas.fa-user-cog
        |  Administração
    li.link
      a(href="/login") 
        i.fas.fa-sign-in-alt
        |  Acesse sua conta
  .search-serie 
    i.fas.fa-search
    input(type="text", placeholder="Encontre algo para assistir")
    .search-result#search-result

  script. 