doctype html
html(lang="pt")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Semioflix | #{title}
    link(rel="shortcut icon", href="/public/images/semioflix-transparent.png", type="image/x-icon")
    link(rel="stylesheet", href="/public/css/all.css")
    link(rel="stylesheet", href="/public/css/" + imports + ".css")
    link(rel="stylesheet", href="/fontawesome/css/all.css")
    script(async, src="/public/js/all.js")
  body
    block content