.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}

.menu-bar .icon {
  width: 150px;
}

.menu-bar .search-serie {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 40px;
  border-radius: 5px;
  margin: 0 20px;
  border: 2px solid #e50914;
}

.menu-bar .search-serie input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  padding: 0 10px;
}

.menu-bar .search-serie input::placeholder {
  color: #e50914;
}

.menu-bar .search-serie i {
  font-size: 20px;
  margin: 0 10px;
  color: #e50914;
}

.menu-bar .menu-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-bar .menu-links a {
  margin: 0 10px;
}

.menu-bar .menu-links a {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.search-result {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  z-index: 100;
  display: none;
}

.search-result .result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #333;
}

.search-result .result:last-child {
  border-bottom: none;
}

.search-result .result a {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: none;
  color: #fff;
}

.search-result .result a:hover {
  color: #e50914;
}

.search-result .result a .serie-cover {
  width: 100px;
  height: 150px;
  margin-right: 20px;
}

.search-result .result a .serie-title {
  font-size: 16px;
  font-weight: 700;
}

.search-result .result a .serie-description {
  font-size: 14px;
  font-weight: 400;
}

.search-result .result a .serie-yaer {
  font-size: 14px;
  font-weight: 400;
}

li.link {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
